<mat-card class="example-card" class="white-text green darken-1">
  <mat-card-header>
    
    <mat-card-title>Canteen</mat-card-title>
    
  </mat-card-header>
  <img mat-card-image src="../../../assets/img/canteen.JPG" style='max-height: 500px;' alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
        Modify Menu
        <br>
        Check Transaction
        <br>
        More...
    </p>
  </mat-card-content>
  <mat-card-actions>
      <mat-chip-list >
          <mat-chip class="black-text blue lighten-5" style="cursor:pointer;" [routerLink]="['/main/menu/canteen']" selected>View <i class="material-icons">
              arrow_right_alt
              </i></mat-chip>
        </mat-chip-list>
  </mat-card-actions>
</mat-card>